.personal-data-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-data-container h2 {
  text-align: center;
  color: #0066ff;
  margin-bottom: 30px;
  font-size: 24px;
}

.profile_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personal_label {
  font-weight: 500;
  color: #333;
}

.personal_input {
  padding: 12px 15px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  font-size: 14px;
  background-color: #ffffff;
  color: #555555;
}

.personal_input:disabled {
  background-color: #efefef;
  color: #2f2f2f;
  cursor: not-allowed;
}


.editData-btn {
  background-color: white;
  font-size: 18px;
  color: #0066ff;
  border: 1px solid #0066ff;
  padding: 16px 16px;
  font-weight: 600;
  border-radius:10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.editData-btn:hover {
  background-color: #0066ff;
  color: white;
}


