.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparência para o fundo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Garantir layout vertical */
    justify-content: space-between; /* Espaço entre header, corpo e footer */
  }
  
  .popup-header {
    background-color: #0056b3; /* Azul da barra */
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .popup-header-icon {
    margin-right: 10px;
    font-size: 20px;
    color: white; /* Garantir que o ícone seja branco */
  }
  
  /* Retirando o negrito do título */
  .popup-header-title {
    font-size: 18px;
    font-weight: normal; /* Removido o negrito */
    color: white;
  }
  
  .popup-body {
    padding: 20px;
    text-align: center;
  }
  
  .popup-message {
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
  }
  
  .popup-footer {
    display: flex;
    justify-content: center; /* Alinha os botões no centro */
    padding: 0 20px; /* Espaçamento lateral */
    margin-top: auto; /* Garante que os botões fiquem no meio correto */
    margin-bottom: 20px; /* Ajuste para espaçamento proporcional */
    gap: 50px; /* Reduzindo a distância entre os botões */
  }
  
  .popup-button {
    width: 33.75%; /* Redução de 25% da largura original (45%) */
    aspect-ratio: 3 / 1; /* Mantém altura proporcional à largura */
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .sim {
    background-color: #38AE00; /* Verde */
    color: white;
  }
  
  .nao {
    background-color: #D01010; /* Vermelho */
    color: white;
  }
  
  .popup-button:hover {
    opacity: 0.8;
  }
  