.backButton {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1px;
}

.backButton svg {
  fill: currentColor;
  width: 1rem;
  height: 1rem;
}

@media (max-width: 950px) {
  .backButton {
    color: #1e5bf5;
  }
}
