/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #111827;         /* texto escuro por padrão */
}

:root {
  --primary: #1a73e8;
  --white: #ffffff;
  --gray-light: #f5f5f5;
  --error: #e53935;
  --border-radius: 8px;
  --transition: all 0.3s ease;
}


